.cameraContainer{
    font-family: 'Inter', sans-serif;
    padding: 5rem;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cameraPlaceholder{
    background-color: rgb(217, 213, 213);
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.inputSerialContainer{
    display: flex;
    justify-content: center;
}

.inputSerial{
    width: 70%;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    border: 1.5px solid black;
    padding: 0.5rem;
}

.cameraFeed{
    border-radius: 20px;
    text-align: center;
    background: grey;
    margin: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.photoCapture{
    width: 100%;
    min-height: 400px;
}

.captureIcon{
    background: none;
    border: none;
    padding: 20px;
    text-align: center;
    justify-content: center;
}